:root {
  --main-color: #FF6057;
  --second-color: #8F8F8F;
  --main-margin: 200px
}

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}
.landing {
  overflow: hidden;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar {
      width: 85% !important;
    }
}

@media screen and (max-width: 991px) {
  .section {
    width: 90% !important;
  }
}

@media screen and (max-width: 768px) {
    .navbar {
      width: 95% !important;
    }
}
.navbar {
  width: 74%;
  margin: auto;
}

.nav-link {
  color: white !important;
}

.navbar-collapse {
  justify-content: space-around;
}

.about-us-btn {
  background-image: linear-gradient(90deg,#ff6057,rgba(124, 28, 128, 66%));
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 45px;
  border-radius: 10px;
  border: none;
}

.section {
  width: 70%;
  margin: auto;
  margin-top: var(--main-margin);
}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
}

.swiper-pagination {
  bottom: -8% !important;
}
